<div class="card border-primary text-center">
  <div class="card-header">
    {{titulo}}
  </div>
  <div class="card-body">
    <form>
      <div class="form-group my2 col-sm-6" style="margin: auto;">
        <input id="user" [(ngModel)]="usuario.username" class="form-control" type="text" name="username" placeholder="Username" autofocus required>
      </div>
      <div class="form-group my-2 col-sm-6" style="margin: auto;">
        <input id="passw" [(ngModel)]="usuario.password" class="form-control" type="password" name="password" placeholder="Password" required>
      </div>
      <div class="form-group my-2 col-sm-6" style="margin: auto;">
        <input (click)="login()" class="btn btn-lg btn-primary btn-block" style="width: 100%;" type="submit" value="Login">
      </div>
    </form>
  </div>
</div>
