<ul *ngIf="paginas?.length >0" class="pagination">

  <li class="page-item" [ngClass]="c_paginador.number > 0?'enabled':'disabled'">
    <a  class="page-link" [routerLink]="['/clientes/page',c_paginador.number-1]">
      &laquo;
    </a>
  </li>

  <li class="page-item" [ngClass]="c_paginador.first?'disabled':'enabled'">
    <a  class="page-link" [routerLink]="['/clientes/page',0]">
      Primera
    </a>
  </li>

  <li class="page-item" *ngFor="let numeroPagina of paginas" [ngClass]="numeroPagina-1 == c_paginador.number?'active':''">
    <span class="page-link" *ngIf="numeroPagina-1 == c_paginador.number" >{{numeroPagina}}</span>
    <a *ngIf="numeroPagina-1 != c_paginador.number" class="page-link" [routerLink]="['/clientes/page',numeroPagina-1]" >{{numeroPagina}}</a>
  </li>

  <li class="page-item" [ngClass]="c_paginador.last?'disabled':'enabled'">
    <a  class="page-link" [routerLink]="['/clientes/page',c_paginador.totalPages-1]">
      Ultima
    </a>
  </li>

  <li class="page-item" [ngClass]="c_paginador.number < c_paginador.totalPages-1?'enabled':'disabled'" >
    <a  class="page-link" [routerLink]="['/clientes/page',c_paginador.number+1]">
      &raquo;
    </a>
  </li>
</ul>
