/*Este estilo pondra el fondo oscuro del modal*/
.styleModal{
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

/*Este estilo data la animacion cuando se abra y cierre el modal*/
.animacion{
  animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
}
/*efecto fade del modal*/
.fadeIn{
  animation-name: efecto_fade;
  -webkit-animation-name: efecto_fade;
}

@keyframes efecto_fade {
  0%{opacity: 0;} to {opacity: 1;}
}

@-webkit-keyframes efecto_fade{
  0%{opacity: 0;} to {opacity: 1;}
}
