<div class="styleModal animacion fadeIn" *ngIf="modalService.modal_var" >

  <div style="display: block;" class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{titulo}}</h1>
          <button type="button" (click)="cerrarModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="container">
            <div class="row">

              <div class="col-sm">

                <ul *ngIf="cliente" class="list-group">
                  <li class="list-group-item active text-center">Datos de Cliente</li>
                  <li class="list-group-item">{{cliente.nombre}}</li>
                  <li class="list-group-item">{{cliente.apellido}}</li>
                  <li class="list-group-item">{{cliente.email}}</li>
                  <li class="list-group-item">{{cliente.createAt}}</li>
                  <li class="list-group-item">{{cliente.region.nombre}}</li>
                </ul>

                <div class="input-group mt-3 mb-3">
                  <div class="col-sm">
                    <label for="formFile" class="form-label">Subida de imagenes</label>
                    <input (change)="obtenerFoto($event)" class="form-control" type="file" id="formFile">
                  </div>
                  <div class="input-group-append">
                    <button (click)="subirFoto()" [disabled]="!fotoSeleccionada" class="btn btn-primary" style="margin-top: 37%;" type="button" id="botonProcesarSubida">Upload</button>
                  </div>
                </div>

                <div *ngIf="progreso > 0" class="progress" role="progressbar" aria-label="Animated striped example" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" [ngStyle]="{width:progreso+'%'}">{{progreso}}</div>
                </div>
              </div>

              <div class="col-sm">
                <img *ngIf="cliente?.foto" src="http://localhost:8080/api/download/img/{{cliente.foto}}" alt="{{cliente.foto}}" class="img-thumbnail rounded_corner content-center">
              </div>

            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" (click)="cerrarModal()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
