<p>clientes works!</p>

<detalle-cliente *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado" ></detalle-cliente>

<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Clientes</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear Clientes</button>
    </div>
    <div *ngIf="clientes?.length==0" class="alert alert-info" role="alert">
      No existen Clientes!
    </div>
    <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Fecha</th>
          <th>Editar</th>
          <th>Eliminar</th>
          <th>Subir</th>
        </tr>
      </thead>
      <tbody>
        <tr style="vertical-align: middle;" *ngFor="let cliente of clientes">
          <td>
            <img style="width: 64px; background-color: transparent; opacity: 1; border-color: transparent;" *ngIf="cliente?.foto" src="http://localhost:8080/api/download/img/{{cliente.foto}}" alt="{{cliente.foto}}" class="img-thumbnail rounded_corner content-center">
            <img style="width: 64px; background-color: transparent; opacity: 1; border-color: transparent;" *ngIf="!cliente?.foto" src="http://localhost:8080/img/no_user.png" alt="Sin foto" class="img-thumbnail rounded_corner content-center">
          </td>
          <td>{{cliente.id}}</td>
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido | uppercase}}</td>
          <td>{{cliente.email}}</td>
          <td>{{cliente.createAt | date:"EEEE dd/MMMM/yyyy"}}</td>
          <td>
            <button type="button" name="editar" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary">Editar</button>
          </td>
          <td>
            <button type="button" name="eliminar" (click)="delete(cliente)" class="btn btn-danger btn-sm">Eliminar</button>
          </td>
          <td>
            <button type="button" class="btn btn-success btn-sm" (click)="abrirModal(cliente)">Upload</button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginador" [c_paginador]="paginador" ></paginator-nav>
  </div>
</div>
