<ul class="alert alert-danger" *ngIf="errores_backend?.length > 0">
  <li *ngFor="let err of errores_backend">
    {{err}}
  </li>
</ul>
<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <form #cliente_form="ngForm">
      <div class="form-group row my-2">
        <label for="my-nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input id="my-nombre" class="form-control" type="text" [(ngModel)]="cliente.nombre" name="nombre" required="true" minlength="4" #var_nombre="ngModel"/>
          <div class="alert alert-danger" role="alert" *ngIf="var_nombre.invalid && (var_nombre.dirty || var_nombre.touched)">
            <div *ngIf="var_nombre.errors.required">
              El nombre es requerido
            </div>
            <div *ngIf="var_nombre.errors.minlength">
              Nombre debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row my-2">
        <label for="my-apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input id="my-apellido" class="form-control" type="text" [(ngModel)]="cliente.apellido" name="apellido" required="true" minlength="4" #var_apellido="ngModel"/>
          <div class="alert alert-danger" role="alert" *ngIf="var_apellido.invalid && (var_apellido.dirty || var_apellido.touched)">
            <div *ngIf="var_apellido.errors.required">
              El apellido es requerido
            </div>
            <div *ngIf="var_apellido.errors.minlength">
              Apellido debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row my-2">
        <label for="my-email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input id="my-email" class="form-control" type="text" [(ngModel)]="cliente.email" name="email" required="true" minlength="4" email="true" #var_email="ngModel"/>
          <div class="alert alert-danger" role="alert" *ngIf="var_email.invalid && (var_email.dirty || var_email.touched)">
            <div *ngIf="var_email.errors.required">
              El email es requerido
            </div>
            <div *ngIf="var_email.errors.minlength">
              Email debe tener al menos 4 caracteres
            </div>
            <div *ngIf="var_email.errors.email">
              Email debe tener un formato valido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row my-2">
        <label for="my-fecha" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">
          <input id="my-fecha" matInput [matDatepicker]="myFecha" class="form-control" [(ngModel)]="cliente.createAt" name="fecha" style="display: inline; width: 300px;">
          <mat-datepicker-toggle [for]="myFecha"></mat-datepicker-toggle>
          <mat-datepicker #myFecha></mat-datepicker>
        </div>
      </div>

      <div class="form-group row my-2">
        <label for="my-region" class="col-form-label col-sm-2">Region</label>
        <div class="col-sm-6">
          <select [compareWith]="compararRegion" id="my-region" class="form-control" [(ngModel)]="cliente.region" name="region">
            <option [ngValue]="undefined">Seleccionar region</option>
            <option *ngFor="let regi of regiones" [ngValue]="regi">{{regi.nombre}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row my-2">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!cliente.id else updateButton" [disabled]="!cliente_form.form.valid">Crear</button>

          <ng-template #updateButton>
            <button class="btn btn-primary my-2" role="button" (click)="update()" [disabled]="!cliente_form.form.valid">Editar</button>
          </ng-template>

        </div>
      </div>
    </form>
  </div>
</div>
